@font-face {
    font-family: lemonmilkreg;
    src: url("./fonts/LEMONMILK-RegularItalic.otf");
  }

  @font-face {
    font-family: lemonmilkthin;
    src: url("./fonts/LEMONMILK-LightItalic.otf");
  }

  @font-face {
    font-family: mon;
    src: url("./fonts/Montserrat-Regular.ttf");
  }

  @font-face {
    font-family: boldmonit;
    src: url(./fonts/Montserrat-BoldItalic.ttf);
  }


  .navlist {
    font-size: 15px;
    font-family: mon;
    text-align: center;
    color: white;
    height:px;
    list-style-type: none;
  }

  .navlist li {
    display:inline-block;
    display: inline;
    padding: 0px 1px;
    margin-right:10px;
  }

  .navlist a {
    padding: 3px ;
    background-color: #131313;
    color: white;
    text-decoration: none;
    position: relative;
    }

  .navlist a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .navlist a.active::after {
    transform: scaleX(1);
  }

  .navlist a:hover::after {
  transform: scaleX(1);
  }


  .main{
    text-align: center;
    padding: 270px 0;
  }

  .grhn {
    font-size: 100px;
    font-family: boldmonit;
    text-align: center;
    color: white;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  } 

  .socials{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  .disc {
    height: 40px;
    transition: all .4s ease;
    text-align: center;
  }

  .disc:hover {
     filter: drop-shadow(0px 0px 5px rgba(192, 192, 192, 0.5));
     -webkit-filter: drop-shadow(0px 0px 5px rgba(192, 192, 192, 0.5));
     transition: all .4s ease;
  }

  .twit {
    height: 40px;
    transition: all .4s ease;
    text-align: center;
  }

  .twit:hover {
    filter: drop-shadow(0px 0px 5px rgba(192, 192, 192, 0.7));
     -webkit-filter: drop-shadow(0px 0px 5px rgba(192, 192, 192, 0.5));
     transition: all .4s ease;
  }

  .github {
    height: 40px;
    transition: all .4s ease;
    text-align: center;
  }

  .github:hover {
    filter: drop-shadow(0px 0px 5px rgba(192, 192, 192, 0.5));
     -webkit-filter: drop-shadow(0px 0px 5px rgba(192, 192, 192, 0.5));
     transition: all .4s ease;
  }

 .anim{
  background: linear-gradient(
      to right,
      #cd5353 20%,
      #fa9600 30%,
      #01cd0b 70%,
      #4a64da 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  }

  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    font-family: mon;
    text-align: center;
    color: white;
  }

  body {background-color: #131313;}

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: visible;
    width: 250px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: mon;
    
    position: absolute;
    z-index: 0;
    top: 6px;
    right: 150%;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
  }

  .animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
  }
